/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*НАЧАЛО МОЕГО CSS*/

html{
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

*, *::before, *::after{
    box-sizing: inherit;
}

.wrapper{
    max-width: 1220px;
    margin: 0 auto;
}

.header{
    background-color: #EDF2EC;
}

.header_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
}

.header_logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.header_list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.header_list_items{
    margin-right: 45px;
}

.header_list_items:first-child{
    color: #E06733;
    font-weight: bold;
}

.header_list_items:last-child{
    margin: 0px;
}

/*START WELCOME CSS*/

.background_green{
    background-color: #EDF2EC;
}

.background_white{
    background-color: #FFFFFF;
}

.welcome_block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #EDF2EC;
    max-width: auto;
    margin: auto;
}

.welcome_img{
    width: 450px;
    height: 410px;
}

.welcome_section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    max-width: 550px;
    padding: 35px 0px;
    color: #717171;
}

.welcome_text{
    text-align: left;
    font-size: 20px;
    color: #636060;
}

.welcome_h1{
    font-weight: bold;
    font-size: 45px;
}

.welcome_word{
    color: #499A18;
}

.welcome_button{
    width: 158px;
    height: 44px;
    line-height: center;
    border-color: #E06733;
    border-radius: 10px;
    background-color: #EDF2EC;
    font-weight: 400;
}

/*START ABOUT CSS*/

.about_block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.about_section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 605px;
    margin: 65px 0px;
}

.about_h2{
    font-size: 40px;
    max-width: 465px;
    padding-bottom: 40px;
}

.about_h2_green{
    color: #499A18;
}

.about_h2_orange{
    color: #E06733;
}

.about_text{
    text-align: left;
    font-size: 20px;
    line-height: 35px;
}

.about_pic{
    width: 465px;
    height: 480px;
}

/*START SERVICE CSS*/

.service{
    display: flex;
    flex-wrap: wrap;
}

.service_title{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    justify-content: space-between;
    padding: 45px 0px;
}

.service_title_name{
    color: #499A18;
    font-size: 40px;
    max-width: 300px;
    text-align: left;
}

.service_title_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.service_title_item{
    color: #E06733;
    border: solid;
    border-color: #E06733;
    border-radius: 5px;
    border-width: 1px;
    line-height: center;
    margin-right: 40px;
    height: 50px;
    font-size: 20px;
    width: 160px;
    text-align: center;
    padding-top: 15px;
}

.service_title_item:last-child{
    padding-right: 0px;
}

.service_block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    height: 955px;
    margin-top: 45px;
    margin-bottom: 115px;
}

.service_item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: stretch;
    height: 450px;
    width: 350px;
}

.service_item_text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: solid;
    border-width: 1px;
    border-color: #E3E1D5;
    border-radius: 0px 0px 20px 20px;
}

.service_pic{
    border-radius: 20px 20px 0px 0px;
}

.service_h{
    color: #E06733;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 10px 0px;
}

.service_text{
    font-size: 16px;
    text-align: center;
    color: #717171;
    padding-bottom: 35px;
}

/*START PRICES CSS*/

.prices_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    height: 405px;
    margin-top: 40px;
    margin-bottom: 115px;
}

.prices_prices{
    height: 390px;
}

.prices_h{
    font-size: 40px;
    font-weight: bold;
}

.prices_items{
    border: #E3E1D5 solid;
    border-radius: 20px;
    margin-top: 60px;
}

.prices_items_block{
    padding: 35px 45px;
}

.prices_item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px 40px;
    background-color: #EDF2EC;
    border-radius: 20px;
    width: 250px;
    align-items: center;
    margin: 15px 0px;
}

.prices_item:first-child{
    margin-top: 0px;
}

.prices_item:last-child{
    margin-bottom: 0px;
}

.prices_text{
    font-weight: bold;
    font-size: 20px;
}

.prices_button{
    position: relative;
    display: inline-block;
}

.prices_button_pic{
    padding-bottom: 5px;
    padding-right: 7px;
}

/* Кнопка выпадающего списка */
.dropbtn {
    background-color: #D9D9D9;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none;
  }
  
  /* Выпадающее содержимое (скрыто по умолчанию) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Ссылки внутри выпадающего списка */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.text_green{
    color: #499A18;
}

.prices_block_text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 450px;
    height: 190px;
    text-align: right;
}

.prices_contact{
    border: #E06733 solid 1px;
    border-radius: 5px;
    color: #E06733;
    font-weight: bold;
    text-align: center;
    width: 160px;
    height: 50px;
    padding: 17px 30px;
}

.prices_pic{
    margin-top: 40px;
    float: right;
    width: 150px;
    height: 175px;
}

/*START CONTACT CSS*/

.contact{
    padding-top: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.contact_pic{
    width: 400px;
    height: 495px;
}

.contact_block{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 710px;
    height: 140px;
}

.contact_h1{
    font-size: 40px;
    font-weight: bold;
    color: #499A18;
}

.contact_text{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 450px;
    height: 50px;
    background-color: #D6E7D2;
    margin-left: 260px;
    box-shadow: 0px 5px 5px -2px #AEA1A1;
}

.contact_text_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 395px;
    margin-left: 20px;
    margin-right: 35px;
}

/*START FOOTER CSS*/

.footer{
    background-color: #FFFFFF;
}

.footer_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
}

.footer_data{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 180px;
}

.footer_year{
    font-size: 20px;
}

.footer_data_text{
    font-size: 20px;
    margin-right: 15px;
}

.footer_text{
    font-size: 20px;
}

.footer_social_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 190px;
}